#box-game{
    border: 1px solid black; /* Độ dày 2px, kiểu solid, màu đen */
    background-image: linear-gradient(to bottom left, #fabac8, #fed2a5);
    border-radius: 10px;
    box-shadow: -5px 5px rgba(0, 0, 0, 0.3);  
    width: 65.3%;
    height: 730px;

    display: flex; /* Kích hoạt flexbox cho phần tử cha */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}

#box-game1{
    border: 2px solid #f49b00; /* Độ dày 2px, kiểu solid, màu đen */
    width: 650px;
    height: 710px;
    border-radius: 15px;
    background-color: #f49b00;
    box-shadow: -5px 5px rgba(0, 0, 0, 0.2);  
}

#game-container {
  margin-top: 30px;
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center;    /* Căn giữa theo chiều dọc */
}

#game-controls {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Chia thành 2 cột bằng nhau */
}
  
#game-controls1 {
    grid-column: 1; /* Đặt vào cột 1 */
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center;    /* Căn giữa theo chiều dọc */
}
  
#game-controls2 {
    grid-column: 2; /* Đặt vào cột 2 */
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center;    /* Căn giữa theo chiều dọc */
}

#game-controls button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    box-shadow: 
    -3px 3px 3px #e87302, /* góc trên bên trái */
     3px 3px 3px #e87302, /* góc trên bên phải */
    -3px -3px 3px #e87302, /* góc dưới bên trái */
     3px -3px 3px #e87302; /* góc dưới bên phải */ 
}

#vocabulary-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
    /* Adjust width as needed */
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}

.vocabulary {
    margin-bottom: 20px;
}

.vocabulary-scroll::-webkit-scrollbar { /* Chrome, Safari, Opera */
    width: 10px; /* Độ rộng của thanh cuộn */
}
  
.vocabulary-scroll::-webkit-scrollbar-track {
    background: #f1f1f1; /* Màu nền của thanh trượt */
}
  
.vocabulary-scroll::-webkit-scrollbar-thumb {
    background: #cdbebe; /* Màu của thanh kéo */
    border-radius: 5px; /* Bo tròn thanh kéo */
}
  
.vocabulary-scroll::-webkit-scrollbar-thumb:hover {
    background: #9a8e8e; /* Màu của thanh kéo khi di chuột qua */
}

.vocabulary-scroll {
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    height: 730px;
    overflow-y: scroll;
    border-radius: 15px;
    background-color: #f1f1f1;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

.custom-button {
    background-color: #ffe820;
    /* Màu nền */
    border: none;
    /* Không viền */
    color: #e68213;
    /* Màu chữ */
    padding: 15px 32px;
    /* Kích thước nút */
    text-align: center;
    /* Căn giữa chữ */
    text-decoration: none;
    /* Không gạch chân */
    display: inline-block;
    /* Hiển thị như một khối mặc định */
    font-size: 16px;
    /* Cỡ chữ */
    margin: 4px 2px;
    /* Khoảng cách giữa các nút */
    cursor: pointer;
    /* Con trỏ chuột khi rê vào nút */
    border-radius: 100px;
    /* Bo tròn góc */
    width: 50px;
    height: 50px;
    text-align: center;
    transition-duration: 0.4s;
    /* Thời gian chuyển đổi */
    font-weight: bold;
    /* Đậm */
    text-transform: capitalize;

    /* Chuyển đổi văn bản thành chữ in hoa */
}

.custom-button1 {
    background-color: #45ea22;
    /* Màu nền */
    border: none;
    /* Không viền */
    color: #147a0c;
    /* Màu chữ */
    padding: 15px 32px;
    /* Kích thước nút */
    text-align: center;
    /* Căn giữa chữ */
    text-decoration: none;
    /* Không gạch chân */
    display: inline-block;
    /* Hiển thị như một khối mặc định */
    font-size: 16px;
    /* Cỡ chữ */
    margin: 4px 2px;
    /* Khoảng cách giữa các nút */
    cursor: pointer;
    /* Con trỏ chuột khi rê vào nút */
    border-radius: 100px;
    /* Bo tròn góc */
    width: 50px;
    height: 50px;
    text-align: center;
    transition-duration: 0.4s;
    /* Thời gian chuyển đổi */
    font-weight: bold;
    /* Đậm */
    text-transform: capitalize;
    /* Chuyển đổi văn bản thành chữ in hoa */
}

.text {
    font-weight: bold;
    text-transform: uppercase;
}

.custom-buttontext2 {
    background-color: #415eef;
    /* Màu nền */
    border: none;
    /* Không viền */
    color: white;
    /* Màu chữ */
    padding: 10px 10px;
    /* Kích thước nút */
    text-align: center;
    /* Căn giữa chữ */
    text-decoration: none;
    /* Không gạch chân */
    display: inline-block;
    /* Hiển thị như một khối mặc định */
    font-size: 15px;
    /* Cỡ chữ */
    /* Khoảng cách giữa các nút */
    cursor: pointer;
    /* Con trỏ chuột khi rê vào nút */
    border-radius: 10px;
    /* Bo tròn góc */
    transition-duration: 0.4s;
    /* Thời gian chuyển đổi */
    font-weight: bold;
    /* Đậm */
    text-transform: capitalize;
    /* Chuyển đổi văn bản thành chữ in hoa */
}

.custom-buttontext {
    background-color: #4CAF50;
    /* Màu nền */
    border: none;
    /* Không viền */
    color: white;
    /* Màu chữ */
    padding: 10px 10px;
    /* Kích thước nút */
    text-align: center;
    /* Căn giữa chữ */
    text-decoration: none;
    /* Không gạch chân */
    display: inline-block;
    /* Hiển thị như một khối mặc định */
    font-size: 15px;
    /* Cỡ chữ */
    /* Khoảng cách giữa các nút */
    cursor: pointer;
    /* Con trỏ chuột khi rê vào nút */
    border-radius: 10px;
    /* Bo tròn góc */
    transition-duration: 0.4s;
    /* Thời gian chuyển đổi */
    font-weight: bold;
    /* Đậm */
    text-transform: capitalize;
    /* Chuyển đổi văn bản thành chữ in hoa */
}

.custom-button:hover {
    background-color: #ffcf18;
    /* Màu nền khi hover */
    color: white;
    /* Màu chữ khi hover */
}

.custom-button1:hover {
    background-color: #37e21a;
    /* Màu nền khi hover */
    color: white;
    /* Màu chữ khi hover */
}

.custom-button:active {
    background-color: #3e8e41; /* Màu mới khi nút được nhấn */
}

.custom-button1:active {
    background-color: #3e8e41; /* Màu mới khi nút được nhấn */
}

.vocabulary-scroll ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.vocabulary-scroll li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
